.header-color {
    background: #833ab4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.landing-grid {
    background: #833ab4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-grid {
    display: flex;
}

.image-class {
    height: 200px;
    padding-top: 5em;
    border-radius: 50%;
}

.image-class-2 {
    height: 200px;
    border-radius: 10%;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 45%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}

.banner-text h1 {
    font-size: 66px;
    color: white;
}

.banner-text hr {
    border-top: 5px dashed white;
    margin: auto;
    width: 60%;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 5em;
}

.contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-top: 2em;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    color: black;
    margin-bottom: 20px;
}

.contact-grid hr {
    border-top: 5px dotted black;
    margin: auto;
    width: 60%;
}

.contact-list i {
    font-size: 35px;
    padding-right: 5rem;
}

.resume-right-col {
    background-color: #7e7e7e;
    border-radius: 5%;
    box-shadow: inset 0 0 10px #000000;
    color: white;
    padding: 2em;
}

.about-body {
    margin-left: 10%;
    margin-top: 2%;
    color: chocolate;
    height: 90%;
    width: 80%;
    background-color: antiquewhite;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 3%;
}

.about-body h2 {
    text-align: center;
    padding-top: 20px;
}

.about-body h4 {
    text-align: center;
    color: #7e7e7e;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: #7e7e7e;
    text-align: center;
    padding-top: 10px;
    color: white;
}

.links:hover {
    background-color: #AB0552;
    height: 90%;
    font-weight: bold;
    color: #fd1d1d;
    border-radius: 10%;
    box-shadow: inset 0 0 10px #000000;
}


/*.btn-fantastic {*/
/*    width: 200px;*/
/*    height: 60px;*/
/*    line-height: 60px;*/
/*    text-align: center;*/
/*    font-size: 30px;*/
/*    color: #FFFFFF;*/
/*    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/
/*    user-select: none;*/
/*    border-radius: 30px;*/
/*    box-shadow: 0 5px 10px #43265EAA;*/
/*    background-image: linear-gradient(to bottom, #D600A4 50%, #3C002F);*/
/*    position: relative;*/


/*}*/

/*.btn-fantastic:before {*/
/*    content: '';*/
/*    display: block;*/
/*    position: absolute;*/
/*    width: 170px;*/
/*    height: 30px;*/
/*    left: calc(50% - 85px);*/
/*  border-radius: 10px 10px 20px 20px;*/
/*  background-image: linear-gradient(to bottom, #FFFFFFAA, #FFFFFF11);*/
/*}*/
